<% layout("/layouts/boilerplate") %>

    <body>

        <h2>All Listings <%=count%>
        </h2>

        <div class="row row-cols-lg-5  ">
            <%for(let listing of alllisting){%>
                <a href="/listing/<%= listing._id %>" class="underline-remove">
                    <div class="card  " style="width: 18rem;">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="...">
                        <div class="card-img-overlay">Click</div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= listing.title %>
                            </h5>
                            <p class="card-text">
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> / Night
                            </p>
                        </div>
                        <!-- <div class="card-body">
                    <a href="/<%= listing._id %>" class="card-link">Show</a>
                    <a href="/<%= listing._id %>/edit" class="card-link">Edit</a>
                    <form action="/<%= listing._id %>?_method=DELETE" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </div> -->
                    </div>
                </a>
                <%}%>
        </div>

    </body>