<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <div>
        <form class="card" method="post" action="http://localhost:3300/home/<%= post.id %>?_method=PATCH">
            <div class="left">
                <h2>Edit Profile</h2>
                <img src=<%=post.profile_image %>>
            </div>
            <div class="right">
                <input class="name" placeholder="Username" name="username" value="<%= post.username %>">
                <input class="age" placeholder="Age" name="age" value="<%= post.age %>">
                <input class="field" placeholder="Field" name="field_of_work" value="<%= post.field_of_work %>">
                <input class="quali" placeholder="Qualification" name="qualification" value="<%= post.qualification %>">
                <input class="img" placeholder="New Url" name="profile_image" value="<%= post.profile_image %>">
                <textarea class="des" name="brief_description" rows="3"><%= post.brief_description %></textarea>
                <button type="submit">Update</button>
            </div>
            <a href="http://localhost:3300/home">Back</a>

        </form>
    </div>

</body>

</html>